rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /weddings/{slug}/uploads/{fileId} {
      function isImage() {
        return request.resource.contentType.matches('image/.*');
      }
      function isSmallEnough() {
        return request.resource.size < 10 * 1024 * 1024; // 10 MB
      }
      allow create: if isImage() && isSmallEnough();
      allow read: if true; // Allow anyone to read the images
      allow update, delete: if false; // Prevent modification or deletion
    }
  }
}
