
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

@layer base {
  :root {
    --background: 35 50% 98%;
    --foreground: 215 25% 25%;

    --card: 210 30% 94%;
    --card-foreground: 215 25% 25%;

    --popover: 210 30% 94%;
    --popover-foreground: 215 25% 25%;

    --primary: 210 20% 31%; /* Azul oscuro sofisticado */
    --primary-foreground: 35 50% 98%;

    --secondary: 210 25% 88%;
    --secondary-foreground: 210 20% 31%;
    
    --muted: 210 25% 88%;
    --muted-foreground: 215 15% 50%;

    --accent: 30 60% 80%; /* Un tono coral suave para acentos */
    --accent-foreground: 215 25% 25%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 210 20% 80%;
    --input: 210 30% 94%;
    --ring: 30 60% 80%;
    
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.8rem;
  }
  .dark {
    --background: 215 28% 17%;
    --foreground: 210 40% 98%;

    --card: 215 28% 22%;
    --card-foreground: 210 40% 98%;

    --popover: 215 28% 22%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 215 28% 17%;

    --secondary: 215 28% 28%;
    --secondary-foreground: 210 40% 98%;
    
    --muted: 215 28% 28%;
    --muted-foreground: 210 40% 80%;

    --accent: 30 60% 70%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 215 28% 33%;
    --input: 215 28% 28%;
    --ring: 30 60% 70%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }

  body.modal-open {
    overflow: hidden;
  }
  
  section {
    @apply w-full;
  }

  .bg-background {
    background: linear-gradient(180deg, hsla(var(--background) / 0.95) 0%, hsla(var(--background) / 0.85) 50%, hsla(var(--background) / 0.95) 100%);
  }
  
  .bg-card {
     background: linear-gradient(180deg, hsla(var(--card) / 0.95) 0%, hsla(var(--card) / 0.85) 50%, hsla(var(--card) / 0.95) 100%);
  }
}

@layer utilities {
  .text-shadow-lg {
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }

  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in-up {
    animation: fade-in-up 0.8s ease-out forwards;
  }

  @keyframes zoom-in {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.05);
    }
  }
  .object-top {
    object-position: top;
  }
}
